<!-- <div class="m-layer" [style.visibility]="showModal ? 'visible' : 'hidden'" #modalContainer> -->
<div class="m-layer" [@showHide]="showModal" #modalContainer cdkDrag cdkDragBoundary=".cdk-overlay-container">
  <div class="zbar" cdkDragHandle>
    <div class="zttl f-thide">Title</div>
  </div>

  <ng-container [ngSwitch]="currentModalType">
    <ng-container *ngSwitchCase="'loginByPhone'">
      <ng-content select="[name=login]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="'register'">
      <ng-content select="[name=register]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="'like'">
      <ng-content select="[name=like]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="'share'">
      <ng-content select="[name=share]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-content></ng-content>
    </ng-container>
  </ng-container>

  <div class="zcls" title="Close" (click)="hide()"></div>
</div>
