<div id="app">
    <nz-layout class="layout">
        <nz-header class="header">
            <div class="wrap">
                <div class="left">
                    <h1>Music</h1>
                    <ul nz-menu nzTheme="dark" nzMode="horizontal">
                        <li nz-menu-item *ngFor="let item of menu" [routerLink]="item.path">{{ item.label }}</li>
                    </ul>
                </div>

                <div class="right">

                  <app-wy-search
                    (onSearch)="onSearch($event)"
                    [searchResult]="searchResult"
                  ></app-wy-search>

                    <!-- To Use ng-template and ng-container -->
                    <!-- <app-wy-search [customView]="customView"></app-wy-search> -->
                      <!-- <ng-template #customView>
                        <button>Search</button>
                      </ng-template> -->

                      <!-- Moved into WySearch component -->
                    <!-- <div class="search">
                        <nz-input-group nzSuffixIcon="search">
                          <input type="text" nz-input placeholder="List/Singer/Song">
                        </nz-input-group> -->
                        <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" nz-input placeholder="List/Singer/Song">
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                        </ng-template> -->
                    <!-- </div> -->
                    <div class="member">

                        <div class="no-login" *ngIf="!user else logined">
                            <ul nz-menu nzTheme="dark" nzMode="horizontal">
                                <li nz-submenu>
                                    <div title>
                                        <span>Login</span>
                                        <i nz-icon nzType="down" nzTheme="outline"></i>
                                    </div>
                                    <ul>
                                        <li nz-menu-item (click)="openModal('loginByPhone')">
                                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                                            Mobile
                                        </li>
                                        <li nz-menu-item (click)="openModal('register')">
                                            <i nz-icon nzType="user-add" nzTheme="outline"></i>
                                            Register
                                        </li>
                                    </ul>
                                  </li>
                            </ul>
                        </div>
                        <ng-template #logined>
                          <div class="login">
                            <ul nz-menu nzMode="horizontal" nzTheme="dark">
                              <li nz-submenu>
                                <div title>
                                  <nz-avatar nzIcon="user" nzSrc="user.profile.avatarUrl"></nz-avatar>
                                  <i nz-icon type="down" nzTheme="outline"></i>
                                </div>
                                <ul>
                                  <li nz-menu-item [routerLink]="['/member', user.profile.userId]">
                                    <i nz-icon nzType="user" nzTheme="outline"></i>My Homepage
                                  </li>
                                  <li nz-menu-item (click)="onLogout()">
                                    <i nz-icon nzType="close-circle" nzTheme="outline"></i>Logout
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </ng-template>

                    </div>

                </div>
            </div>
        </nz-header>

        <!-- To add the routers from all other component -->
        <nz-content class="content">
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer class="footer">
            Ant Design @2021 Implement BY Angular
        </nz-footer>
    </nz-layout>
</div>

<!-- Music Player Component -->
<app-wy-player></app-wy-player>

<app-wy-layer-modal (onLoadMySheets)="onLoadMySheets()">
  <app-wy-layer-login name="login" [wyRememberLogin]="wyRememberLogin" (onLogin)="onLogin($event)" (onChangeModalType)="onChangeModalType($event)"></app-wy-layer-login>
  <app-wy-layer-like [likeId]="likeId" name="like" [mySheets]="mySheets"></app-wy-layer-like>
  <app-wy-layer-default (onChangeModalType)="onChangeModalType($event)"></app-wy-layer-default>
</app-wy-layer-modal>
