<div class="check-code">
  <div class="js-mobwrap">
    <p class="s-fc3">
      Your Mobile：
      <strong class="s-fc1">
        <span class="js-mob">{{phone}}</span>
      </strong>
    </p>
    <p class="s-fc4">We will send you the Verification Code</p>
  </div>

  <div class="form">
    <form nz-form nzLayout="vertical" [formGroup]="formModel" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control>
          <app-wy-code></app-wy-code>
          <div class="send clearfix">
            <span class="err" >Wrong Verification Code</span>
            <span class="txt" >60s</span>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" nzBlock>Next</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
