<div class="class">
    <app-wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex">
        <nz-carousel 
            nzAutoPlay 
            nzEffect="fade" 
            [nzDotRender]="wyCarousel.dotRef"
            (nzBeforeChange)="onBeforeChange($event)">
            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img [src]="item.imageUrl">
                </a>
            </div>
        </nz-carousel>
    </app-wy-carousel>

    <div class="main">
        <div class="wrap">
            <div class="left">
                <div class="sec">
                    <div class="up">
                        <div class="navs">
                            <h2>
                                <i></i>
                                <a>Recommandations</a>
                            </h2>
                            <nav>
                                <a *ngFor="let item of hotTags">{{ item.name }}</a>
                            </nav>
                        </div>
                        <a>
                            More
                            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                        </a>
                    </div>

                    <div class="down">
                        <div class="down-wrap">
                            <app-single-sheet 
                                class="sheet-item"
                                *ngFor="let item of songSheetList"
                                [sheet]="item">
                            </app-single-sheet>
                        </div>

                    </div>
                </div>
            </div>

            <div class="right">

            </div>
        </div>
    </div>
</div>