<div class="class">
    <app-wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" (changeSlide)="onChangeSlide($event)">
        <nz-carousel
            nzAutoPlay
            nzEffect="fade"
            [nzDotRender]="wyCarousel.dotRef"
            (nzBeforeChange)="onBeforeChange($event)">
            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img [src]="item.imageUrl">
                </a>
            </div>
        </nz-carousel>
    </app-wy-carousel>

    <div class="main">
        <div class="wrap">
            <div class="left">
                <div class="sec">
                    <div class="up">
                        <div class="navs">
                            <h2>
                                <i></i>
                                <a>Recommandations</a>
                            </h2>
                            <nav>
                                <a *ngFor="let item of hotTags"
                                    routerLink="/sheet"
                                    [queryParams]="{cat: item.name}">{{ item.name }}</a>
                            </nav>
                        </div>
                        <a>
                            More
                            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                        </a>
                    </div>

                    <div class="down">
                        <div class="down-wrap">
                            <app-single-sheet
                                class="sheet-item"
                                *ngFor="let item of songSheetList"
                                [sheet]="item"
                                (onPlay)="onPlaySheet($event)"
                                (click)="toInfo(item.id)">
                            </app-single-sheet>
                        </div>

                    </div>
                </div>
            </div>

            <div class="right">
                <app-member-card></app-member-card>

                <div class="settled-singer">
                    <div class="tit"><b>Singers</b></div>
                    <div class="list">
                        <div class="card" *ngFor="let singer of singers" [routerLink]="['/singer', singer.id]">
                            <div class="pic">
                                <img [src]='singer.picUrl'>
                            </div>
                            <div class="txt">
                                <b class="class">{{ singer.name }}</b>
                                <span>Albums: {{ singer.albumSize }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
