<div class="like">
  <div class="sheet-list" *ngIf="!creating else createSheet">
    <div class="header" (click)="creating = true">
      <i nz-icon nzType="folder-add" nzTheme="outline"></i>
      <span>New Song Sheet</span>
    </div>
    <nz-list [nzDataSource]="mySheets" nzItemLayout="horizontal" [nzRenderItem]="itemTpl">
      <ng-template #itemTpl let-item>
        <nz-list-item class="list-item" (click)="onLike(item.id.toString())">
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.trackCount"
            [nzAvatar]="item.coverImgUrl">
            <ng-template #nzTitle>
              <span>{{item.name}}</span>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>

  <ng-template #createSheet>
    <div class="create-sheet">
      <form nz-form [formGroup]="formModel" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-label nzSpan="5">Sheet Name：</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="12" nzErrorTip="Please add Sheet Name">
            <input nz-input placeholder="Sheet Name" formControlName="sheetName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div class="btns">
            <button nz-button class="btn-back" (click)="creating = false">Return</button>
            <button nz-button nzType="primary" [disabled]="!formModel.valid">New</button>
          </div>
        </nz-form-item>
      </form>
    </div>
  </ng-template>
</div>
