<div class="register modal-content">
  <div class="modal-wrap">
    <form nz-form nzLayout="vertical" [formGroup]="formModel" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label>Mobile</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input correct Mobile">
          <nz-input-group nzPrefixIcon="mobile">
            <input type="tel" nz-input placeholder="Please input Mobile" formControlName="phone">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Password</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input correct Password">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input placeholder="Please input Password" formControlName="password">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzBlock nzType="primary" [disabled]="!formModel.valid">Next step</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<div class="m-footer clearfix">
  <a (click)="onChangeModalType.emit('default')">&lt; Other Loggins</a>
</div>
